<div class="flex flex-col min-h-screen">
  <div id="header" class="p-4 bg-amber-400 text-cyan-600 text-xl font-bold">
    沙丁鱼后台管理系统
  </div>
  <main class="flex flex-row ">
    <div id="sidebar" class="basis-1/6 min-h-[78vh] w-full
    bg-cyan-600 text-white flex flex-col">
      <div *ngFor="let item of menuList; let i = index" (click)="navigate(i)"
           class="cursor-pointer p-4 hover:bg-orange-500 text-right"
           [class.bg-orange-500]="item.isActive">
        <a [routerLink]="item.path">{{ item.title }}</a>
      </div>
    </div>
    <div class="main-container basis-5/6">
      <router-outlet/>
    </div>
  </main>

  <footer>
    <p> 沙丁鱼后台管理 DhetLok-Admin </p>
    <p>平阳鱼韵科技股份有限公司版权所有 © S1981-E2024</p>
  </footer>
</div>
