<h1 class="tracking-widest text-center text-3xl font-semibold mb-4 ">
  歌曲推荐
</h1>
<div class="flex flex-row w-full text-center items-center justify-center mb-2">
  <ul class="flex space-x-4">
    <li>华语</li>
    <li>欧美</li>
    <li>韩语</li>
    <li>日语</li>
    <li>其他</li>
  </ul>
</div>
<div class="flex flex-row w-full text-center items-center justify-center">
  <ul class="flex space-x-12">
    <li class="border border-emerald-500">
      <img src="assets/1.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/2.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/3.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/4.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/5.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/6.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/7.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/8.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/9.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/10.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
  </ul>
</div>
