<h1 class="tracking-widest text-center text-3xl font-semibold mb-4 ">
  歌曲推荐
</h1>
<div class="flex flex-row w-full text-center items-center justify-center mb-2">
  <ul class="flex space-x-4">
    <li>流行</li>
    <li>摇滚</li>
    <li>民谣</li>
  </ul>
</div>
<div class="flex flex-row w-full text-center items-center justify-center">
  <ul class="flex space-x-12">
    <li class="border border-emerald-500">
      <img src="assets/1.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/2.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/3.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/4.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
    <li class="border border-emerald-500">
      <img src="assets/1.jpg" class="w-32 h-32 hover:w-36 hover:h-36"/>
    </li>
  </ul>
</div>
