<h1 class="tracking-widest text-center text-3xl font-semibold mb-4 ">
  歌曲推荐
</h1>
<div class="flex flex-row w-full text-center items-center justify-center mb-2">
  <ul class="flex space-x-4 ">
    <li class=" py-4 px-6 hover:bg-orange-500 hover:text-amber-300 rounded-md cursor-pointer">华语</li>
    <li class=" py-4 px-6 hover:bg-orange-500 hover:text-amber-300 rounded-md  cursor-pointer">欧美</li>
    <li class=" py-4 px-6 hover:bg-orange-500 hover:text-amber-300 rounded-md  cursor-pointer">韩语</li>
    <li class=" py-4 px-6 hover:bg-orange-500 hover:text-amber-300  rounded-md  cursor-pointer">日语</li>
    <li class=" py-4 px-6 hover:bg-orange-500 hover:text-amber-300 rounded-md  cursor-pointer">其他</li>
  </ul>
</div>



<div class="flex flex-row w-full
text-center items-center
 justify-center flex-wrap text-wrap">
  <ul class="flex space-x-12">
    <li class="border border-emerald-500 rounded-md"
    *ngFor="let item of artists">
      <img [src]="'http://localhost:5000/api/artist/avatar/'+item.imgUrl"
           class="w-32 h-32 hover:w-36 hover:h-36"/>
      <div class="text-center inline-flex items-center" >{{item.realName}}</div>
    </li>
  </ul>
</div>
